@import url('https://fonts.googleapis.com/css2?family=Karla&family=Poppins:wght@200&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  background-color: #1e2040 ;
  color:#fff
}
.containerMostSearched {
  display: flex;
  overflow-x: scroll;
}

.itemMostSearched {
  flex-direction: column;
  margin-left: 15px;
  cursor: grab;
}

img {
  width: 80px;
  border-radius: 10px;
}

.Link {
  text-decoration: none;
}
