

.container-filter {
  display: flex;
  flex-direction: column;
}

.container-filter li {
  list-style: none;
}
.item-filter {
  display: flex;
  flex-direction: row;
}

.search-list-img {
  width: 60px;
  margin-left: 3em;
  border-radius: 6px;
}


// .item-filter {
//   // display: flex;
//   flex-direction: row;
// }

// .test {
//   display: flex;
// }