@import "./variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Karla&family=Poppins:wght@200&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  // margin-top: 0;

}

body {
  margin: 0;
  height: 100%;
  // margin-top: -20px;
}

main {
padding-top: 80px;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-thumb {
  background-color: #54a09f;
  border-radius: 10px;
  border: 3px;
  width: 5px;
}

.light {

  .text {
    color: black;
  }

  .background {
    background-color: $primary-white-color;
  }
  .nav-color {
    background-color: $primary-dark-color;
  }

  .scroll-bar {
    ::-webkit-scrollbar-track {
      background: $primary-white-color;
    }
  }

  h1,h2,h3,h4,h5,h6, li {
    color: $dark-color;
  }

}

.dark {
  .text {
    color: $light-text;
  }

  .background {
      background-color: $dark-color;
      margin: -25px;
  }

  .nav-color {
    background-color: $dark-mode2;
  }
  .scroll-bar {
    ::-webkit-scrollbar-track {
      background: $primary-dark-color;
    }
  }

  h1,h2,h3,h4,h5,h6, p, li {
    color: $light-text;
  }

  body {
    background-color: $dark-color;
  }
}



 

 