body {
    margin: 0;
}

.Nav {
    width: 100%;
    height: 35px;
    background-color: #504a4a;
    align-items: center;
    justify-content: space-between;
    display: flex;
    position: fixed;
}

.buttonsNav {
    display: flex;
    padding: 0;
}

.buttonsNav > li {
    list-style: none;
}

.buttonsLRP{
    display: flex;
    flex-direction: row;
}

.searchBarNav {
    
}

/* HOME */

.SearchBar {
    padding: 70px 0 0 0;
}