@import "./variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Karla&family=Poppins:wght@200&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  // background-color: #1e2040 ;
  // color:#fff
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

// *::-webkit-scrollbar-track {
//   background: #1e2040;
// }

*::-webkit-scrollbar-thumb {
  background-color: #54a09f;
  border-radius: 10px;
  border: 3px;
  width: 5px;
}

.light {

  .text {
    color: black;
  }

  .background {
    background-color: $primary-white-color;
  }
  .nav-color {
    background-color: $primary-dark-color;
  }

  .scroll-bar {
    ::-webkit-scrollbar-track {
      background: $primary-white-color;
    }
  }

  h1,h2,h3,h4,h5,h6, li {
    color: $dark-color;
  }

}

.dark {
  .text {
    color: $light-text;
  }

  .background {
      background-color: $dark-color;
  }

  .nav-color {
    background-color: $dark-mode2;
  }
  .scroll-bar {
    ::-webkit-scrollbar-track {
      background: $primary-dark-color;
    }
  }

  h1,h2,h3,h4,h5,h6, p, li {
    color: $light-text;
  }
}





  .bg-footer {
    background-color: $primary-dark-color;
    color: $light-text;
    padding-top: 1px;
    padding-bottom: 1px;
    display: flex;
    flex-direction: row;

    a {
      text-decoration: none;
      color: $light-text;
    }
    .link-tmdb {
      color: $tertiary-color;
    }

  }

  .auth-btn {
    color: white;
    text-decoration: none;
    margin: 0 8px;

    &:hover {
      color: yellow;
    }

  }

 
  
  // texto titulo home

  .title {
    text-align: center;
  }