$primary-dark-color:#1e2040;
$primary-light-color:rgb(201, 202, 191);
$secundary-color:#22a6b3;
$tertiary-color:#a1ba3e;
$dark-background-color: #0000;
$light-text: rgb(201, 211, 211);
$nav-color: linear-gradient(to top, #FFAF7B, #D76D77, #3A1C71);
$dark-color: #252743;
$dark-mode2: #1e2040;