
.user-avatar {
  width: 25%;
  border-radius: 50px;
  display: flex;
  align-content: center;
  margin-top: 10px;
  margin: auto;
}

.text-profile {
  text-align: center;
}

body{
  margin-top: -1px;
  min-height: 100vh;
}